* {
    background-color: #6b7db3;
    color: white;
}

.container {
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.search {
    margin: 0 auto;
    display: block;
    text-align: center;
    
}
input {
    padding: 10px;
    width: 400px;
    border: none;
    border-bottom: 1px solid yellow;
    display: block;
    margin: 10px;
    font-size: 18px;
}
h1 {
    font-size: 36px;
}
input:focus, button:focus {
    outline: none;
}

#poke {
    color: yellow;
    text-decoration: underline;
}
button {
    border: 1px solid yellow;
    font-size: 28px;
    border-radius: 5px;
}


.card {
    border: 1px solid rgb(250, 250, 20);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 30px;
}

input::placeholder {
    color: rgba(223, 217, 217, 0.322);
}

.card h1 {
    font-size: 24px;
}
#type {
    font-size: 18px;
}
#type span, #powers span {
    background-color: orange;
    padding: 3px;
    border-radius: 10px;
}
.stats {
    text-align: left;
}
.stats h1 {
    font-size: 18px;
}

#powers {
    font-size: 14px;
}

#name {
    text-decoration: underline;
}

#not__found {
    margin: 10px;
    font-size: 36px;
    color: rgb(221, 131, 131);
}